@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nano Sans JP', sans-serif;
    font-weight: 300;
    color: whitesmoke;
    background-color: #000000;
}

header {
    font-family: 'Anton SC', sans-serif;
    background-color: #000000;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px#3a3a3a;
    z-index: 99;


}

header h1 {
    margin-bottom: 10px;
}

header a {
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    padding: 0 10px 0 10px;
    
}

header > nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 1rem;

}

main {
    flex: 1 0 auto;
    background-color: #111111;
    margin-top: 82px;
}

Footer {
    background-color: black;
    padding: 1em;
    text-align: center;
    display: block;
}

footer > nav > a {
    padding: 0 10px;
    font-size: 1em;
    text-decoration: none;
    color: whitesmoke;
}

footer p {
    font-size: small;
    margin-top: 10px;
    color:#4f4f4f;
}

#map-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#map-container iframe {
    border: none;

}

.mpt-font {
    font-family: 'Anton SC', sans-serif;
}

.main-preview-text {
    text-transform: uppercase;
    text-align: center;
}

/* media queries */

@media screen and (min-width: 768px) {
    
}

@media screen and (max-width: 346px) {
    header nav a {
        font-size: smaller;
    }

    main {
        margin-top: 78px;
    }
}