@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nano Sans JP', sans-serif;
    color: whitesmoke;
    background-color: #000000;
}

header {
    font-family: 'Anton SC', sans-serif;
    background-color: #000000;
    position: fixed;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px#3a3a3a;


}

header h1 {
    margin-bottom: 10px;
}

header a {
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    padding: 0 10px 0 10px;
    
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 1rem;

}

main {
    flex: 1 0 auto;
    background-color: lightgreen;
    margin-top: 82px;
}

Footer {
    background-color: black;
}

/* media queries */

@media screen and (min-width: 768px) {
    
}

@media screen and (max-width: 346px) {
    header nav a {
        font-size: smaller;
    }

    main {
        margin-top: 78px;
    }
}