@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nano Sans JP', sans-serif;
    font-weight: 300;
    color: whitesmoke;
    background-color: #111111;
}

header {
    font-family: 'Anton SC', sans-serif;
    background-color: #000000;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px#3a3a3a;
    z-index: 99;


}

header h1 {
    margin-bottom: 10px;
}

header a {
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    padding: 0 10px 0 10px;
    
}

header > nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 1rem;

}

main {
    flex: 1 0 auto;
    margin-top: 82px;
}

#food-preview {
    width: 100vw;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#food-preview img {
    width: 100%;
    align-self: center;
}


Footer {
    background-color: black;
    padding: 1em;
    text-align: center;
    z-index: 99;
}

footer > nav > a {
    padding: 0 10px;
    font-size: 1em;
    text-decoration: none;
    color: whitesmoke;
}

footer p {
    font-size: small;
    margin-top: 10px;
    color:#4f4f4f;
}


iframe {
    border: none;
    width: 100%;

}

.link-hover:hover {
    text-decoration: underline;
}

/* Text styles */

.mpt-font {
    font-family: 'Anton SC', sans-serif;
}

.main-preview-text {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

/* contact page css */

#about-us {
    display: flex;
    flex-direction: column;
    margin: 10px 15px 0px;
}

#about-us h2 {
    padding: 5px 0px;
}

#about-us p {
    margin-bottom: 20px;
}

table td {
    padding-bottom: 2px;
}

figure {
    margin-bottom: 5px;
}

#contact-table {
    text-decoration: underline;
}

#contact-table a {
    color: whitesmoke;
}

#adress-img {
    width: 300px;
    margin-top: 10px;
}

#wiki-ragsved {
    text-decoration: none;
    color: whitesmoke;
    opacity: 50%;
    font-size: 0.8rem;
}

#wiki-ragsved:hover {
    text-decoration: underline;
}

/* media queries */

@media screen and (min-width: 768px) {
    
}

@media screen and (max-width: 346px) {
    header nav a {
        font-size: smaller;
    }

    main {
        margin-top: 78px;
    }

    #adress-img {
        width: 200px;
    }

}